/*
	Estilos del CV
*/

body {
	color: midnightblue;
	background-image: url(../img/fondo.jpg);
	font-family: Dosis, sans-serif;
	font-size: 1em;
}

#Boton1, #Boton2, #Boton3 {
	font-family: Cabin, sans-serif;
	font-size: 1.5em;
	color: darkred;
	margin: 0 0.5vw 0.33vw 0;
	padding: 0 0.5em;
	border: outset;
	border-width: 0.15em;
	border-radius: 0.67em 0.33em ;
}

#Cuerpo {
	width: 98vw;
	height: 90vh;
	border-style: double;
	border-color: darkred;
	border-radius: 2vw;
	border-width: 0.35vw;
	margin: 0.15vw;
}

#Tabla1, #Tabla2 {
/*	border-spacing: 0.75em;*/
	border-spacing: 0.75vw;
}

.FondoGris {
	background: gray;
	color: white;
	border-radius: 1.5vw;
	padding: 0 0.25vw;
	font-family: Dosis, sans-serif;
	font-size: 1.5em;
	width: 50vh;
	vertical-align: top;
}

.InfoTit {
	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
}

.ColIconos {
	width: 3vw;
}

.ColTextos {
	font-size: 1em;
	padding-left: 1em;
}

.InfoDerecha {
	border-style: solid;
	border-radius: 1.5vw;
    border-width: 2px;
	border-color: black;
    vertical-align: top;
	font-size: 1.33em;
	padding: 0 1em;
}

#Foto {
	width: 22.5vw;
    transform: scaleX(-1);
	border-radius: 3vw 7vw;
}

.OrgTitulos {
    width: 33vw;
    background: gray;
    border-radius: 1.5vw;
    color: white;
    padding: 25px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.OrgLogos {
	height: 15vh;
}

.OrgInfo {
	font-size: 1.33em;
}

#Notas {
	font-size: 1.2em;
    font-family: "Encode Sans Condensed", sans-serif;
}

.Logos {
	height: 96px;
}
